<div class="container pt-3 bg-active" style="border:1px solid #000000;">
    <div class="row">
        <div class="col-md-8">
            <h1>{{post.title}}</h1>
            <p>by <a href="/{{post.username}}">{{post.username}}</a></p>
            <div class="markdown-body">
                {{post.content}}
            </div>
            {% if user == current_user %}
            <a href="/deletepost?post_id={{post._id}}"><button>🗑️</button></a> <br/>
            {% endif %}
        </div>
    </div>
</div>