<div class="container pt-3">
    <div class="row">
        <div class="col-md-8">
            <h1>{{post.title}}</h1>
            <p>by <a href="/{{post.username}}">{{post.username}}</a></p>
            <p>{{post.content}}</p>
            {% if user == current_user %}
            <a href="/deletepost?post_id={{post._id}}"><button>🗑️</button></a> <br/>
            {% endif %}
            <hr>
            Published on {{post.timestamp}}
        </div>
    </div>
</div>
<br />
{% if user == current_user %}

{% endif %}
