<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Thought</title>
        {% else %}
        <title>Thought</title>
        {% endif %}
        <style>
            #post {
                margin: auto;
                width: 50%;
                padding: 10px;
                border: 5px solid lightblue;
                justify-content: center;
            }
              #user{
                    margin: auto;
                    width: 50%;
                    padding: 10px;
                }
        
            .button {
                position: absolute;
                top: 50%;
            }
        </style>
    </head>
    <body>
        <div>
                Thought:
                <a href="/home">Home</a>
                <a href="/me">Me</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>  
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>