{% extends "base.html" %}
<style>
    .body{
        text-align: center;
    }
</style>
{% block content %}
    <h1 class="bg-light" style="text-align: center">Sign Up or <a href="/login">Sign In</a> </h1>
            <div class="col">
                <form action="" method="post" class="form-control" style="margin: auto; width: 220px;">
                    {% import "bootstrap/wtf.html" as wtf %}
                    {{ wtf.quick_form(form) }}
                </form>
            </div>
{% endblock %}
