<style>
            #post {
                margin: auto;
                width: 30%;
                padding: 10px;
                border: 2px solid lightblue;
                justify-content: center;
            }
              #user{
                    margin: auto;
                    width: 50%;
                    padding: 10px;
                }

            .button {
                position: relative;
                top: 50%;
            }
            .bubble {
                background-color: lightblue;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
                max-width: 80%;
                left: 100%;
            }

            .bubble-alt {
                background-color: lightgrey;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
                max-width: 80%;
                left: 0%;
                text-align: right;
            }

</style>

<meta http-equiv="refresh" content="5" >
{% block content %}
{% for message in messages %}
    {% if message['sender'] == current_user.username %}
        <div class="bubble">
            <p>{{ message.message }}</p>
            <a href="/deletemsg?msg_id={{message._id}}&redirect={{message.receiver}}">Delete</a>
        </div>
    {% else %}
        <div class="bubble-alt">
            <p>{{ message.message }}</p>
            <a href="/deletemsg?msg_id={{message._id}}&redirect={{message.sender}}">Delete</a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

