<style>
            #post {
                margin: auto;
                width: 30%;
                padding: 10px;
                border: 2px solid lightblue;
                justify-content: center;
            }
              #user{
                    margin: auto;
                    width: 50%;
                    padding: 10px;
                }

            .button {
                position: relative;
                top: 50%;
            }
            .bubble {
                background-color: lightblue;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
                max-width: 80%;
                left: 100%;
            }

            .bubble-alt {
                background-color: lightgrey;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
                max-width: 80%;
                left: 0%;
                text-align: right;
            }

</style>
<script type="text/javascript">
    $(document).ready(function(){
    $(this).scrollTop(0);
});
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<meta http-equiv="refresh" content="10" >
{% block content %}
{% for message in messages %}
    {% if message['sender'] == current_user.username %}
        <div class="bubble">
            <p style="font-family: 'Ubuntu', sans-serif;">{{ message.message }}</p>
            <a style="font-family: 'Ubuntu', sans-serif;" href="/deletemsg?msg_id={{message._id}}&redirect={{message.receiver}}">Delete</a>
        </div>
    {% else %}
        <div class="bubble-alt">
            <p style="font-family: 'Ubuntu', sans-serif;">{{ message.message }}</p>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

