{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="font-family: 'Abril Fatface', cursive;">
                        Settings
                    </h2>
                    <form action="" method="post">
                        {% import "bootstrap/wtf.html" as wtf %}
                        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                    </form>

                    <hr class="my-4">

                    <form action="{{ url_for('logout') }}" method="post" class="d-grid">
                        <button type="submit" class="btn btn-outline-danger">
                            Logout
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
