{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="font-family: 'Abril Fatface', cursive;">
                        Upload an Image
                    </h2>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="image">Choose one or more image files</label>
                                <input type="file" class="form-control" id="image" name="image[]" accept="image/*" multiple required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3 d-flex align-items-center gap-1">
                                <span class="material-symbols-outlined">upload</span> Upload
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
